/* Reset de estilos básicos para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.carousel {
    position: relative;
    max-width: 800px; /* A largura máxima do carrossel */
    margin: 0 auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd; /* Adicione uma borda nas fotos */
    background-color: #f9f9f9; /* Adicione uma cor de fundo para os slides */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicione uma sombra */
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Para redimensionar as imagens para preencher o slide */
}

/* Botões de navegação */
#nextButton, #prevButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
}

#nextButton {
    right: 0;
}

#prevButton {
    left: 0;
}

/* Efeitos de hover para os botões */
#nextButton:hover, #prevButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Adicione estilos adicionais conforme necessário */

